<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Otaku-Online
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/css/custom.css" rel="stylesheet">

    <script src="/js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <% include head %>

        <style>
            #mainSelection3 select {
                border: 0;
                color: #EEE;
                background: transparent;
                font-size: 20px;
                font-weight: bold;
                padding: 2px 10px;
                width: 378px;
                *width: 350px;
                *background: #58B14C;
                -webkit-appearance: none;
            }
            
            #mainSelection3 {
                overflow: hidden;
                width: 350px;
                -moz-border-radius: 9px 9px 9px 9px;
                -webkit-border-radius: 9px 9px 9px 9px;
                border-radius: 9px 9px 9px 9px;
                box-shadow: 1px 1px 11px #330033;
                background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
            }
        </style>

        <div id="all">

            <div id="content">
                <div class="container">

                    <div class="col-md-12">

                        <ul class="breadcrumb">
                            <li><a href="index">Accueil</a>
                            </li>
                            <li>Gestion du site</li>
                        </ul>

                    </div>
                    <!--
                    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                    <script>
                        $(function() {
                            var availableTags = [
                                "ActionScript",
                                "AppleScript",
                                "Asp",
                                "BASIC",
                                "C",
                                "C++",
                                "Clojure",
                                "COBOL",
                                "ColdFusion",
                                "Erlang",
                                "Fortran",
                                "Groovy",
                                "Haskell",
                                "Java",
                                "JavaScript",
                                "Lisp",
                                "Perl",
                                "PHP",
                                "Python",
                                "Ruby",
                                "Scala",
                                "Scheme"
                            ];

                            function split(val) {
                                return val.split(/,\s*/);
                            }

                            function extractLast(term) {
                                return split(term).pop();
                            }

                            $("#tags")
                                // don't navigate away from the field on tab when selecting an item
                                .on("keydown", function(event) {
                                    if (event.keyCode === $.ui.keyCode.TAB &&
                                        $(this).autocomplete("instance").menu.active) {
                                        event.preventDefault();
                                    }
                                })
                                .autocomplete({
                                    minLength: 0,
                                    source: function(request, response) {
                                        // delegate back to autocomplete, but extract the last term
                                        response($.ui.autocomplete.filter(
                                            availableTags, extractLast(request.term)));
                                    },
                                    focus: function() {
                                        // prevent value inserted on focus
                                        return false;
                                    },
                                    select: function(event, ui) {
                                        var terms = split(this.value);
                                        // remove the current input
                                        terms.pop();
                                        // add the selected item
                                        terms.push(ui.item.value);
                                        // add placeholder to get the comma-and-space at the end
                                        terms.push("");
                                        this.value = terms.join(", ");
                                        return false;
                                    }
                                });
                        });
                    </script>
                -->

                    <!--UTILISATEURS-->
                    <div class="col-md-6">
                        <div class="box">
                            <h1>Gestion des utilisateurs</h1>
                            <p>Selectionnez les actions à effectuer parmi les suivantes:</p>
                            <hr>
                            <form id="gestion-user" onsubmit="return false;">
                                <div class="ui-widget">
                                    <label for="tags-user">Nom d'utilisateur</label>
                                    <input type="text" class="form-control" id="tags-user">
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" onclick="block()"><i class="fa fa-user-md" value="Block" id="BlockButton"></i>Blocker</button>
                                    <script>
                                        var block = () => {
                                            $.ajax({
                                                'url': '/admin/user/block',
                                                'type': 'POST',
                                                'data': {
                                                    "identifiant": $('#tags-user').val()
                                                },
                                                'complete': xhr => {
                                                    $('.alert-danger').remove();
                                                    $('.alert-success').remove();
                                                    if (xhr.status == 200) {
                                                        $('<div>').text("L'utilisateur est désormais bloqué.").attr("class", "alert alert-success alert-email-email").insertBefore($('#gestion-user'));
                                                    } else {
                                                        $('<div>').text(xhr.responseText).attr("class", "alert alert-danger alert-email-email").insertBefore($('#gestion-user'));
                                                    }
                                                }
                                            });
                                        }
                                    </script>
                                    <button type="submit" class="btn btn-primary" onclick="administer()"><i class="fa fa-user-md" value="Adminis" id="AdministerButton"></i>Administrer</button>
                                    <script>
                                        var administer = () => {
                                            $.ajax({
                                                'url': '/admin/user/administer',
                                                'type': 'POST',
                                                'data': {
                                                    "identifiant": $('#tags-user').val()
                                                },
                                                'complete': xhr => {
                                                    $('.alert-danger').remove();
                                                    $('.alert-success').remove();
                                                    if (xhr.status == 200) {
                                                        $('<div>').text("L'utilisateur est désormais Administrateur.").attr("class", "alert alert-success alert-email-email").insertBefore($('#gestion-user'));
                                                    } else {
                                                        $('<div>').text(xhr.responseText).attr("class", "alert alert-danger alert-email-email").insertBefore($('#gestion-user'));
                                                    }
                                                }
                                            });
                                        }
                                    </script>
                                </div>

                            </form>
                            <hr>

                        </div>
                    </div>
                    <!--CATEGORIES-->
                    <div class="col-md-6">
                        <div class="box">
                            <h1>Gestion des catégories</h1>
                            <p>Selectionnez les actions à effectuer parmi les suivantes:</p>
                            <hr>
                            <form onsubmit="return false;">
                                <div class="form-group">
                                    <label for="name">Catégories</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                                <hr>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md" value="AddCat"></i>Ajouter</button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md" value="DelCat"></i>Supprimer</button>
                                </div>
                            </form>
                            <hr>

                        </div>
                    </div>
                    <!--PRODUITS-->
                    <div class="col-md-6">
                        <div class="box" style="width: 205%;">
                            <h1>Gestion des produits</h1>
                            <p>Selectionnez les actions à effectuer parmi les suivantes:</p>
                            <hr>
                            <form onsubmit="return false;" id="form-ajout-manga">
                                <!--REFERENCE-->
                                <div class="form-group">
                                    <label for="ref">Reference</label>
                                    <input type="text" class="form-control" id="ref">
                                </div>
                                <hr>
                                <!--TITRE-->
                                <div class="form-group">
                                    <label for="titre">Titre</label>
                                    <input type="text" class="form-control" id="titre">
                                </div>
                                <hr>
                                <!--N° VOLUME-->
                                <div class="form-group">
                                    <label for="volume">N° du volume</label>
                                    <input type="number" class="form-control" id="volume">
                                </div>
                                <hr>
                                <!--DESCRIPTION-->
                                <div class="form-group">
                                    <label for="descri">Description</label>

                                </div><textarea name="texte1" cols="149" rows="5" id="descri" style="resize: none;"></textarea>
                                <hr>
                                <!--CATEGORIES-->
                                <div id="mainselection3" class="form-group">
                                    <select class="select_categ" id="categ">
                                      <option class="selectTitle">Choisissez une catégorie</option>
                                      <script>
                                            $.ajax({
                                                'url': '/categories',
                                                'type': 'GET',
                                                'success': data => {
                                                    data.forEach(element => {
                                                        $('.select_categ').append('<option value=' + element.id + '>' + element.name + '</option>');
                                                    });
                                                }
                                            });
                                        </script>
                                    </select>
                                </div>
                                <hr>
                                <!--DATE-->
                                <div class="form-group">
                                    <label for="date">Date de publication</label>
                                    <input id="date" type="date" class="form-control">
                                </div>
                                <hr>
                                <!--PRIX-->
                                <div class="form-group">
                                    <label for="prix">Prix</label>
                                    <input id="prix" type="number" class="form-control">
                                </div>
                                <hr>
                                <!--STUDIO DE PUBLICATION-->
                                <div class="form-group">
                                    <label for="publisher">Studio de publication</label>
                                    <input id="publisher" type="text" class="form-control">
                                </div>
                                <hr>
                                <!--MANGAKA-->
                                <div class="form-group">
                                    <label for="mangaka">Mangaka</label>
                                    <input id="mangaka" type="text" class="form-control">
                                </div>
                                <hr>

                                <div class="ui-widget">
                                    <label for="genre">Genres: </label>
                                    <input id="genre" size="50" disabled>
                                </div>
                                <hr>
                                <!--BOUTONS-->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" onclick="ajout()"><i class="fa fa-user-md" value="AddCat"></i>Ajouter</button>
                                </div>
                                <script>
                                    var ajout = () => {
                                        $.ajax({
                                            'url': '/admin/manga/add',
                                            'type': 'POST',
                                            'data': {
                                                "reference": $('#ref').val(),
                                                "title": $('#titre').val(),
                                                "volume_Number": $('#volume').val(),
                                                "description": $('#descri').val(),
                                                "categorie": $('#categ').val(),
                                                "publish_date": $('#date').val(),
                                                "price": $('#prix').val(),
                                                "publisher": $('#publisher').val(),
                                                "mangaka": $('#mangaka').val(),
                                                "genre": $('#genre').val().split(' '),
                                            },
                                            'complete': xhr => {
                                                $('.alert-success').remove();
                                                $('.alert-danger').remove();
                                                if (xhr.status == 200) {
                                                    $('<div>').text("Produit ajouté").attr("class", "alert alert-success alert-email-email").insertBefore($('#form-ajout-manga'));
                                                        } else {
                                                    $('<div>').text(xhr.responseText).attr("class", "alert alert-danger alert-email-email").insertBefore($('#form-ajout-manga'));
                                                }
                                            }
                                        });
                                    }
                                </script>
                            </form>
                            <hr>

                        </div>
                    </div>


                </div>
                <!-- /.container -->
            </div>
            <!-- /#content -->

            <% include foot %>

        </div>
        <!-- /#all -->

        <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
        <script src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/modernizr.js"></script>
        <script src="/js/bootstrap-hover-dropdown.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/front.js"></script>

</body>

</html>