<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <% include head %>

        <div id="all">

            <div id="content">
                <div class="container">

                    <div class="col-md-12">

                        <ul class="breadcrumb">
                            <li><a href="#">Accueil</a>
                            </li>
                            <li>Mon Compte</li>
                        </ul>

                    </div>

                    <div class="col-md-3">
                        <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Section client</h3>
                            </div>

                            <div class="panel-body">

                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active">
                                        <a href="customer-account"><i class="fa fa-user"></i> Mon compte</a>
                                    </li>
                                    <li>
                                        <a href="customer-orders"><i class="fa fa-list"></i> Mes commandes</a>
                                    </li>
                                    <li>

                                        <a href="customer-wishlist" disabled><i class="fa fa-heart"></i> Ma wishlist</a>
                                    </li>
                                    <li>
                                        <a href="logout"><i class="fa fa-sign-out"></i> Se déconnecter</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- /.col-md-3 -->

                        <!-- *** CUSTOMER MENU END *** -->
                    </div>

                    <div class="col-md-9">
                        <div class="box">
                            <h1><%= req.session.user._pseudo %></h1>
                            <p class="lead">Modifier vos paramètre ou détails personnels.</p>

                            <h3>Modifier le mot de passe</h3>

                            <form id="form-changePwd" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_old">Ancien Mdp</label>
                                            <input type="password" class="form-control" id="password_old">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" id="form-group-password_1">
                                            <label for="password_1">Nouveau Mdp</label>
                                            <input type="password" class="form-control" id="password_1" onkeyup="validateMdp()" onfocus="validateMdp()">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="form-group-password_2">
                                            <label for="password_2">Rentrez le Mdp</label>
                                            <input type="password" class="form-control" id="password_2" onkeyup="validateMdp2()" onfocus="validateMdp2()">
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    validateMdp = () => {
                                        var elem = $('#password_1');
                                        if(elem.val().match(/^[a-zA-Z0-9]{6,18}$/)) {
                                            $('#form-group-password_1').removeClass('has-error').addClass("has-success");
                                        } else {
                                            $('#form-group-password_1').removeClass('has-success').addClass("has-error");
                                        }
                                        validateAll();
                                    }
    
                                    validateMdp2 = () => {
                                        var elem = $('#password_2');
                                        if(elem.val().match(/^[a-zA-Z0-9]{6,18}$/) && elem.val() == $('#password_1').val()) {
                                            $('#form-group-password_2').removeClass('has-error').addClass("has-success");
                                        } else {
                                            $('#form-group-password_2').removeClass('has-success').addClass("has-error");
                                        }
                                        validateAll();
                                    }
    
                                    validateAll = () => {
                                        $('#button-updatePwd').prop('disabled', 
                                            !($('#password_old').val() != "" && 
                                            $('#password_1').val().match(/^[a-zA-Z0-9]{6,18}$/) && 
                                            $('#password_1').val() == $('#password_2').val())
                                        );
                                    }
    
                                    changePassword = () => {
                                        $.ajax({
                                            'url': '/updatePwd',
                                            'type': 'POST',
                                            'data': {
                                                "oldPwd": sha256($('#password_old').val()),
                                                "newPwd": sha256($('#password_1').val())
                                            },
                                            'complete': xhr => {
                                                $('.alert-success').remove();
                                                $('.alert-danger').remove();
                                                if(xhr.status == 200) {
                                                    $('<div>').text("Nouveau mot de passe enregistré").attr("class", "alert alert-success alert-email-email").insertBefore($('#form-changePwd'));
                                                } else {
                                                    $('<div>').text(xhr.responseText).attr("class", "alert alert-danger alert-email-email").insertBefore($('#form-changePwd'));
                                                }
                                            }
                                        });
                                    }
                                </script>
                                <!-- /.row -->

                                <div class="col-sm-12 text-center">
                                    <button type="submit" id="button-updatePwd" class="btn btn-primary" onclick="changePassword()" disabled><i class="fa fa-save"></i> Enregistrer le Mdp</button>
                                </div>
                            </form>

                            <hr>

                            <h3>Détails personnels</h3>
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">Prénom</label>
                                            <input type="text" class="form-control" id="firstname" value="<%= req.session.user._first_name %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">Nom</label>
                                            <input type="text" class="form-control" id="lastname" value="<%= req.session.user._last_name %>">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Telephone</label>
                                            <input type="text" class="form-control" id="phone">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" id="email" value="<%= req.session.user._email %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.container -->
            </div>
            <!-- /#content -->


            <% include foot %>




        </div>
        <!-- /#all -->




        <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/bootstrap-hover-dropdown.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/front.js"></script>



</body>

</html>