<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <div>,</div>
    <div id="barHeader">
        <img src="http://localhost:1313/images/Soleil_Manga.jpg" style="float: left;">
        <a href="/index">Accueil</a>
        <a href="/login">Connexion</a>
        <a href="/register">Inscription</a>
        <a href="/bucket">Panier</a>
        <img src="x">
        <img src="x">

    </div>

    <style>
        body {
            font-family: "Segoe UI", Arial, sans-serif;
            letter-spacing: 1px;
        }
        
        .error {
            color: red
        }
        
        .success {
            color: green;
        }
        
        #barHeader {
            background: red;
            height: 10%;
            padding: 1%;
        }
        
        #barHeader a {
            text-decoration: none;
            margin-right: 10%;
            font-family: "Segoe UI", Arial, sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #84837f;
        }
        
        #barHeader img {
            float: right;
        }
    </style>
</head>

<body>