<% var title = 'Formulaire login' %>
    <% include head %>
        <div id="indexPic">
            <img>
        </div>
        <div>
            <h1>SORTIES RECENTES</h1>
        </div>
        <% include foot %>
            <style>
                #indexPic {
                    width: 80%;
                    height: 750px;
                    margin-top: 50px;
                    border: 1px black solid;
                    background: red;
                    position: relative;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 3%;
                }
                
                div h1 {
                    color: #84837f;
                    font-weight: 500;
                    padding: 2%;
                    background: yellow;
                    text-align: center;
                }
            </style>