<!DOCTYPE html>
<html lang="utf8_fr">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Otaku Online : La passion du manga
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon">



</head>

<body onload="clearGenre(); refresh()">

    <% include head %>

        <div id="all">

            <div id="content">
                <div class="container">

                    <div class="col-md-12">

                        <ul class="breadcrumb">
                            <li>
                                <a href="index">Accueil</a>
                            </li>
                            <li>Affichage des produits</li>
                        </ul>

                    </div>

                    <style>
                        #listeP div img {
                            width: 25%;
                            margin-left: 2%;
                        }
                        
                        #listeP div img:hover {
                            opacity: 0.7;
                            transform: scale(1.1);
                            margin-left: 2%;
                        }
                        
                        .spanTitle {
                            position: absolute;
                            font-size: 20px;
                            margin-left: 2%;
                        }
                        
                        .spanRef {
                            position: absolute;
                            margin-top: 5%;
                            margin-left: 2%;
                        }
                        
                        .spanPrice {
                            position: absolute;
                            margin-top: 9%;
                            margin-left: 2%;
                        }
                        
                        .spanCateg {
                            position: absolute;
                            margin-top: 13%;
                            margin-left: 2%;
                        }
                    </style>

                    <div class="col-md-3">
                        <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Categories</h3>
                            </div>

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu" id="filtre-categories">
                                    <script>
                                        $.ajax({
                                            'url': '/categories',
                                            'type': 'GET',
                                            'success': data => {
                                                try {
                                                    data.forEach(element => {
                                                        $('#filtre-categories').append('<li><a href="productList?categorie=' + element.id + '" title="' + element.description + '">' + element.name + "</a>");
                                                    });
                                                } catch (e) {
                                                    console.log(e);
                                                }
                                            }
                                        });
                                    </script>
                                </ul>
                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Genres
                                    <a class="btn btn-xs btn-danger pull-right" onclick="clearGenre()">
                                        <i class="fa fa-times-circle"></i> Clear</a>
                                </h3>
                            </div>

                            <div class="panel-body">

                                <form>
                                    <div class="form-group" id="filtre-genre">
                                        <script>
                                            $.ajax({
                                                'url': '/genres',
                                                'type': 'GET',
                                                'success': data => {
                                                    try {
                                                        data.forEach(element => {
                                                            $('#filtre-genre').append('<div class="checkbox"><label><input type="checkbox" onchange="handleGenre(this)" value="' + element.id + '">' + element.name + '</label></div>');
                                                        });
                                                    } catch (e) {
                                                        console.log(e);
                                                    }
                                                }
                                            });

                                            function handleGenre(elem) {
                                                if (elem.checked) {
                                                    filtre_genres.push(elem.value);
                                                } else {
                                                    filtre_genres.splice(filtre_genres.indexOf(elem.value), 1);
                                                }
                                                refresh();
                                            }

                                            function clearGenre() {
                                                $('input:checked').prop("checked", false);
                                                filtre_genres = [];
                                                refresh();
                                            }
                                        </script>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!-- *** MENUS AND FILTERS END *** -->
                    </div>


                    <div class="col-md-9">
                        <!--Liste des produits-->
                        <div class="row" id="productMain">
                            <div class="box">
                                <h2>Liste des produits</h2>
                                <hr>
                                <div id="listeP"></div>
                                <script>
                                    var filtre_categories = [];
                                    var filtre_genres = [];

                                    if (getParameterByName('categorie') != null)
                                        filtre_categories.push(getParameterByName('categorie'));

                                    if (getParameterByName('categorie') != null)
                                        filtre_genres.push(getParameterByName('genre'));

                                    var reg = new RegExp(',', 'g');
                                    var refresh = () => {
                                        var data = {
                                            "categorie": filtre_categories
                                        };
                                        if (filtre_genres.length != 0) {
                                            data.genre = filtre_genres;
                                        }

                                        $.ajax({
                                            'url': '/mangas',
                                            'type': 'GET',
                                            'data': data,
                                            'success': mangas => {
                                                $('.rowManga').remove();
                                                if (!Array.isArray(mangas)) {
                                                    mangas = [mangas];
                                                }
                                                mangas.forEach(manga => {
                                                    $('#listeP').append('<div class="rowManga"><a href="detail?id=' + manga.id + '"><img src="/img/covers/' + manga.images + '"></a><span class="spanRef"><b>Reference: </b>' + manga.reference + '</span><span class="spanTitle"><b>' + manga.title + '</b> - Volume: ' + manga.volume_number + '</span><span class="spanPrice"><b>Prix: </b>' + manga.price + ' €</span><span class="spanCateg"><b>Genres: </b>' + manga.genres.toString().replace(reg, ', ') + '</span><hr></div>');
                                                });
                                            }
                                        });
                                    }

                                    function getParameterByName(name, url) {
                                        if (!url) url = window.location.href;
                                        name = name.replace(/[\[\]]/g, "\\$&");
                                        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                                            results = regex.exec(url);
                                        if (!results) return null;
                                        if (!results[2]) return '';
                                        return decodeURIComponent(results[2].replace(/\+/g, " "));
                                    }
                                </script>
                                <hr>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container -->
            </div>
            <!-- /#content -->

            <% include foot %>

        </div>
        <!-- /#all -->

        <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/bootstrap-hover-dropdown.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/front.js"></script>


</body>

</html>