<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <% include head %>

        <div id="all">

            <div id="content">
                <div class="container">

                    <div class="col-md-12">

                        <ul class="breadcrumb">
                            <li><a href="index">Accueil</a>
                            </li>
                            <li>Nouveau compte/ Se connecter</li>
                        </ul>

                    </div>

                    <div class="col-md-6">
                        <div class="box">
                            <h1>Nouveau compte</h1>

                            <p class="lead">Pas encore enregistré?</p>
                            <p>Ayez accès à chacune des fonctionnalités </p>
                            <p class="text-muted">Si vous avez des questions<a href="contact"> contactez nous</a>, notre service client est à votre écoute pour y répondre.</p>

                            <hr>

                            <form id="form-register" onsubmit="return false;">
                                <div class="form-group" id="form-group-name">
                                    <label for="name">Nom d'utilisateur</label>
                                    <input type="text" class="form-control" id="name" onkeyup="validateAll()" required>
                                </div>
                                <div class="form-group" id="form-group-email">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" onkeyup="validateEmail()" onfocus="validateEmail()" required>
                                </div>
                                <div class="form-group" id="form-group-password">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" class="form-control" id="password" onkeyup="validateMdp()" onfocus="validateMdp()" required>
                                </div>
                                <div class="form-group" id="form-group-passwordC">
                                    <label for="password">Confirmer mot de passe</label>
                                    <input type="password" class="form-control" id="passwordC" onkeyup="validateMdp2()" onfocus="validateMdp2()" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" id="button-register" onclick="sendRegister()" disabled><i class="fa fa-user-md"></i>S'enregistrer</button>
                                </div>
                            </form>
                            <script>
                                validateEmail = () => {
                                    var elem = $('#email');
                                    if(elem.val().match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                                        $('#form-group-email').removeClass('has-error').addClass("has-success");
                                    } else {
                                        $('#form-group-email').removeClass('has-success').addClass("has-error");
                                    }
                                    validateAll();
                                }

                                validateMdp = () => {
                                    var elem = $('#password');
                                    if(elem.val().match(/^[a-zA-Z0-9]{6,18}$/)) {
                                        $('#form-group-password').removeClass('has-error').addClass("has-success");
                                    } else {
                                        $('#form-group-password').removeClass('has-success').addClass("has-error");
                                    }
                                    validateAll();
                                }

                                validateMdp2 = () => {
                                    var elem = $('#passwordC');
                                    if(elem.val().match(/^[a-zA-Z0-9]{6,16}$/) && elem.val() == $('#password').val()) {
                                        $('#form-group-passwordC').removeClass('has-error').addClass("has-success");
                                    } else {
                                        $('#form-group-passwordC').removeClass('has-success').addClass("has-error");
                                    }
                                    validateAll();
                                }

                                validateAll = () => {
                                    $('#button-register').prop('disabled', !($('#name').val() != "" 
                                    && $('#email').val().match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)
                                    && $('#password').val().match(/^[a-zA-Z0-9]{6,16}$/) && $('#password').val() == $('#passwordC').val()));
                                }

                                sendRegister = () => {
                                    $.ajax({
                                        'url': '/register',
                                        'type': 'POST',
                                        'data': {
                                            "pseudo": $('#name').val(),
                                            "email": $('#email').val(),
                                            "pwd": sha256($('#password').val())
                                        },
                                        'complete': xhr => {
                                            $('.alert-danger').remove();
                                            if(xhr.status == 200) {
                                                window.location.replace("/customer-account");
                                            } else {
                                                $('<div>').text(xhr.responseText).attr("class", "alert alert-danger alert-email-email").insertBefore($('#form-register'));
                                            }
                                        }
                                    });
                                }
                            </script>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box">
                            <h1>Connexion</h1>

                            <p class="lead">Déja client ici?</p>
                            <p class="text-muted">Connectez vous et accéder à toute les fonctionnalités auxquelles vous avez adhéré.</p>

                            <hr>

                            <form id="form-login" onsubmit="return false;">
                                <div class="form-group">
                                    <label for="login-name">Nom d'utilisateur</label>
                                    <input type="text" class="form-control" id="login-name">
                                </div>
                                <div class="form-group">
                                    <label for="login-password">Mot de passe</label>
                                    <input type="password" class="form-control" id="login-password">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" onclick="connection()"><i class="fa fa-sign-in"></i> Se connecter</button>
                                </div>
                            </form>
                            <script>
                                    var connection = () => {
                                        $.ajax({
                                            'url': '/login',
                                            'type': 'POST',
                                            'data': {
                                                "identifiant": $('#login-name').val(),
                                                "pwd": sha256($('#login-password').val())                                    
                                            },
                                            'complete': xhr => {
                                                $('.alert-danger').remove();
                                                if(xhr.status == 200) {
                                                    window.location.replace("/customer-account");
                                                } else {
                                                    $('<div>').text(xhr.responseText).attr("class", "alert alert-danger alert-email-email").insertBefore($('#form-login'));
                                                }
                                            }
                                        });
                                    }
                                </script>
                        </div>
                    </div>


                </div>
                <!-- /.container -->
            </div>
            <!-- /#content -->

            <% include foot %>

        </div>
        <!-- /#all -->




        <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/bootstrap-hover-dropdown.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/front.js"></script>



</body>

</html>